$hover-color: darkturquoise;
$active-color: rgb(6, 126, 128);
$checked-color: rgb(235, 186, 27);
$light-back: rgba(255, 255, 255, 0.6);
$dark-back: rgba(0, 0, 0, 0.6);
$light-text-color: aliceblue;

@mixin choice-input {
  appearance: none;
  cursor: pointer;
}

@mixin choice-label {
  padding: 15px;
  text-align: center;
  font-size: 24px;
  color: aliceblue;
  cursor: pointer;
}

@mixin choice-item-text {
  margin: 2px;
  letter-spacing: 1px;
}
