.seats_choice {
  height: 500px;
  margin: 20px;
  display: grid;
  grid-template-rows: repeat(6, [row] 1fr);
  place-items: center;
  background-color: rgba(255, 255, 255, 0.6);

  &_list {
    height: 100%;
    width: 100%;
    display: grid;
    grid-row: row 1 / row 6;
    place-items: center;
    padding-inline-start: 0px;
    overflow-x: auto;
    list-style-type: none;

    &_label {
      padding: 15px;
      margin: 5px;
      display: none;
      justify-self: flex-end;
      text-decoration: none;
      color: rgb(253, 253, 253);
      border: 3px solid rgba(92, 0, 0, 0.4);
      background-color: rgb(153, 40, 27);
      font-weight: 500;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      letter-spacing: 2px;
      cursor: pointer;
    }

    &_input {
      @include choice-input;

      &:hover + label {
        background-color: red;
        transition: 1s;
      }

      &:focus + label {
        background-color: rgb(240, 57, 57);
        border: 3px solid black;
      }

      &:checked + label {
        background-color: rgb(240, 57, 57);
        border: 3px solid black;
      }
    }

    &_ticket {
      height: 150px;
      width: 300px;
      text-align: center;
      color: $light-text-color;
      background-color: indigo;
      margin: 10px;
    }
  }
}

@import "basket";
@import "confirming_msgs";
