.calendar_wrap {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  margin: 10px;
  background-color: $dark-back;
}

.calendar {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0px;
  overflow: hidden;

  &_item {
    @include choice-label;

    &_input {
      @include choice-input;

      &:hover + span {
        color: $hover-color;
        transition: 1s;
      }

      &:active + span {
        color: $active-color;
      }

      &:checked + span {
        color: $checked-color;
        transition: 1s;
      }

      & span {
        @include choice-item-text;
      }
    }
  }

  &_btn {
    margin: 5px;
    text-align: center;
    text-decoration: none;
    background-color: $dark-back;
    color: $light-text-color;
    opacity: 0.8;

    &:hover {
      border: 1px solid;
      color: $hover-color;
    }

    &:active {
      color: $active-color;
    }
  }
}
