.placement {
  background-image: url(../images/background.jpg);
  width: 100%;
  height: 925px;
  background-repeat: no-repeat;
}

@import "calendar";
@import "time";
@import "screen&hall";
@import "seats_status";
