.summary {
  background-image: url(../images/back-2.jpg);
  background-repeat: no-repeat;
  width: 100%;
  font-size: 20px;
  letter-spacing: 1.5px;

  &_inner {
    background: $dark-back;
    color: $lightText-color;
    padding: 10px;
    margin: 60px 20px 0px;
  }
}
